<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">Word Cloud</div>
            <div id="WordCloud" class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Tweets</div>
            <div class="panel-body" id="TweetsBox">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Most Prolific Tweeter</div>
            <div class="panel-body" id="MostProlific">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Tweets Per Minute</div>
            <div class="panel-body" id="TweeetsPerMinute">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Most Mentioned</div>
            <div class="panel-body" id="MostMentioned">
            </div>
        </div>
    </div>
</div>